# Compiled Object files
*.slo
*.lo
*.o
*.cc.o
*.obj

# Precompiled Headers
*.gch
*.pch
*.ih.gch

# Dependencies
*.c.dep
*.cpp.dep
*.cc.dep
*.ih.dep

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables

# Swap files
*.cc.swp
*.txt.swp
*.h.swp
*.ih.swp
